{
  "mcpServers": {
    "socrata": {
      "type": "stdio",
      "command": "node",
      "args": [".mcp-servers/socrata-mcp-server/dist/index.js", "--stdio"],
      "env": {
        "DATA_PORTAL_URL": "https://data.cityofnewyork.us",
        "SOCRATA_APP_TOKEN": "__SOCRATA_APP_TOKEN__"
      }
    },
    "data-commons": {
      "type": "stdio",
      "command": "__DATACOMMONS_MCP_PATH__",
      "args": ["serve", "--skip-api-key-validation", "stdio"],
      "env": {
        "DC_API_KEY": "__DC_API_KEY__"
      }
    }
  }
}
